<h1>Welcome to Five Step Goals!</h1>
<% if user_signed_in? %>
<h3>Create a New Goal</h3>
<%= link_to "Create A New Goal", new_main_goal_path %>
<% end %>
<h3>Community Goals:</h3>
<ul>
<% @main_goals.each do |main_goal| %>
    <li><%= link_to "#{main_goal.title.capitalize}", main_goal_path(main_goal) %></li>
<% end %>
</ul>

<h3>Goals by Category:</h3>
<ul>
<% @categories.each do |category| %>
  <li><%= link_to category.name.capitalize, category_path(category) %></li>
<% end %>
</ul>
