<h1><%= @main_goal.name %></h1>
<h3><%= @main_goal.status %></h3>
<p><%= @main_goal.summary %></p>

<% if current_user == @main_goal.user_id %>
  <%= link_to "Edit Goal", edit_main_goal_path %>
<% end %>
