<h1><%= @main_goal.name %></h1>
<h3><%= @main_goal.status %></h3>
<p><%= @main_goal.summary %></p>

<% @goal_steps.each do |goal_step| %>
    <p><%= link_to "#{goal_step.name}", goal_step_path(goal_step) %></p>
<% end %>
