<% @main_goal.goal_steps.each do |goal_step| %>
   <p><%= link_to "#{goal_step.title} - #{goal_step.status}", main_goal_goal_step_path(@main_goal, goal_step) %></p>
<% end %>

<%= link_to "Main Goal", main_goal_path(@main_goal) %></p>
